@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
    width: auto;
    height: 50px;
    object-fit: contain;
    filter: drop-shadow(2px 2px 2px #5e4b00);
    
}

@media (max-width: 768px) {
    .logo {
        height: 30px;
    }
}
